@tailwind base;
@tailwind components;
@tailwind utilities;

.modalBG {
  position: absolute;
  left: 0px;
  width: 600px;
  height: 700px;
  background-color: white;
  right: 0px;
  top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 25px;
  z-index: 3;
  margin: 0px auto 500px;
}

.authInput {
  @apply my-5 border rounded-md w-full  p-4;
}

.authSubmit {
  @apply cursor-pointer mt-10 border rounded-2xl w-full p-1 bg-sky-400  hover:bg-sky-600;
}

.authSwitch {
  @apply cursor-pointer mt-5 mb-16 block text-xl underline underline-offset-1 text-center;
}

.authCancel {
  @apply text-red-600;
}

.authError {
  @apply text-red-500;
}

.socialLogin {
  @apply border my-1 rounded-2xl border-gray-400 w-1/2 text-lg font-semibold h-9 border-gray-300;
}

.ModalBtn {
  @apply cursor-pointer my-2 border rounded-2xl w-full p-1 bg-blue-500 py-2 text-white font-semibold;
}
